/* Variables */

:root{
    --color-primary:#ffffff;
    --color-secondary:#C5B3B3;
    --color-accent:#FFC14C;
    --color-tertiary:#F2F0F0;
    --text-size-small: 1.2rem;
    --text-size-medium: 2rem;
    --text-size-large: 4.375rem;
    --gap: 1.25rem;
    --cards-font: "Manrope";
}

/* Fuentes */

@font-face{
    font-family: "Roboto";
    src:url(../assets/fonts/static/Roboto-SemiBold.ttf) format("truetype");
    font-weight: 600; /*SemiBold*/
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(../assets/fonts/static/Roboto-Bold.ttf) format("truetype");
    font-weight: 700; /*Bold*/
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(../assets/fonts/static/Roboto-ExtraBold.ttf) format("truetype");
    font-weight: 800; /*ExtraBold*/
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url(../assets/fonts/Manrope/Manrope-VariableFont_wght.ttf) format("truetype");
}

/* General */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

/* Body */

body{
    font-family: "Roboto", sans-serif; /*se incluye sans-serif por si la fuente principal no carga*/
    font-size: var(--text-size-small);
    color: var(--color-primary);
    background-color: var(--color-primary);
    overflow-x: hidden;
}

/* Header */

.header{
    background-color: var(--color-secondary);
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10rem;
    gap:var(--gap);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

main{
    padding-top: 120px; /*para que no quede escondido detrás del header*/
}

.main-menu{
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: var(--text-size-small);
}

.menu-button{
    font-size: 28px;
    color: var(--color-primary);
    text-decoration: none;
    display: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-left: auto;
}

.menu-button:hover{
    transform: scale(1.1);
}

.main-menu li a{
    position: relative;
    display: inline-block;
    font-weight: 600;
    color: var(--color-primary);
    transition: 
        color 0.3s ease,
        transform 0.3s ease; /* para agrandar el texto*/
}

/*para crear una linea debajo del enlace al hacer hover*/
.main-menu li a::after{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px; /*grosor de la linea*/
    background-color: var(--color-accent);
    transition: color 0.3s ease;
}

.main-menu li a:hover{
    color: var(--color-accent);
    transform: scale(1.1);
}
.main-menu li a:hover::after{
    width: 100%;
}

.logo{
    height: 120px;
    width: auto;
}

header ul{
    display: flex;
    gap: var(--gap);
}

header a{
    color:var(--color-primary)
}

/* Hero */

.hero{
    background: url(../assets/images/mymind-XUlsF9LYeVk-unsplash-recorte.JPG) no-repeat 50% 50%;
    min-height: 100vh; /*100% de la altura de mi pantalla*/
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    padding: 12rem 5vw;
    overflow: hidden;
}

.hero-content{
    padding: 1em;
}

.hero-greeting{
    font-family: "Roboto",sans-serif;
    font-size: 24px;
    color: var(--color-primary);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}


.hero-title{
    font-family: "Roboto";
    font-size: var(--text-size-large);
    color:var(--color-primary);
    margin-bottom: var(--gap);
}

.hero-subtitle{
    font-size: var(--text-size-medium);
    margin-bottom: 2rem;
    color: var(--color-tertiary);
}

.hero-description{
    font-size: var(--text-size-small);
    margin-bottom: 2.5rem;
    color: var(--color-primary);
    max-width: 55%;
    line-height: 2; /*añade espacio entre lineas*/
    letter-spacing: 0.05rem; /*separa un poco las letras*/
}

.grid-container{
    display: grid;
}

/* Botones */

.hero-buttons{
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  text-decoration: none;
  font-size: var(--text-size-small);
  transition: background-color 0.3s ease;
  color: var(--color-primary);
  transition: 
    background-color 0.3s ease,
    color 0.3s ease,
    border 0.3s ease;
}

.btn-projects {
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
  padding: 0.75rem 2.5rem; /* para que el boton izquiero sea más ancho*/
}

/* para ponerle el mismo estilo que el .btn-contact*/
.btn-projects:hover{
    background-color: transparent;
    border: 2px solid #ffffff;
    color: var(--color-primary);
}

.btn-contact {
  background-color: transparent;
  border: 2px solid #ffffff;
  padding: 0.75rem 2rem;
}

/* para ponerle el mismo estilo que el .btn-projects*/
.btn-contact:hover{
   background-color: var(--color-accent); 
   border: 2px solid var(--color-accent);
   color: var(--color-primary);
}

/* Projects */

.projects{
    position: relative;
    padding: 4rem 0;
}

.section-title-container{
    margin-bottom: 4rem;
}
.section-title-container h2{
    font-size: 3rem;
    padding: 1.5rem;
    text-align: center;
    color: var(--color-secondary);
}

.section-title-container p{
    font-size: var(--text-size-small);
    color:#A19191;
    text-align: center;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

/* Cards */

.projects-wrapper{
    background-color: var(--color-tertiary);
    padding: 5rem;
    margin-left: 0;
    margin: 2rem auto 0;
    border-radius: 20px;
    width: 90%;
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    box-sizing: border-box;
}

.card{
    background-color: #DAD3D3;
    width: 100%;
    padding: 0px 0px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0px 6px 23px -15px rgba(0,0,0,0.75);
    transition: transform 0.5s;
}

.card:hover {
    transform: scale(1.1);
}

.card > img {
    width: 100%;
    object-fit: contain;
}

.card > h4 {
    font-family: var(--cards-font);
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.card > div {
    grid-template-columns: 1fr 1fr;
}

.description {
    text-align: justify;
    margin: 15px 30px;
    font-family: var(--cards-font);
    font-size: 1.1rem;
    line-height: 2;
}

/* About */

.about-container{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10rem 15rem;
    gap: 5rem;
    position: relative;
}

.about-description{
    max-width: 600px;
    width: 100%;
    border-radius: 15px;
    background-color: #FFFEFD;
    padding: 2rem; 
    font-family: var(--cards-font);
    box-shadow: 0px 6px 23px -15px rgba(0,0,0,0.75);
    letter-spacing: 2px;
    word-spacing: 3px;
    line-height: 1.8;
    text-align: center;
}


.about-image img{
    max-width: 600px;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 15px;
    box-shadow: 0px 6px 23px -15px rgba(0,0,0,0.75);
}

/* Animación al hacer scroll */

.about-description,
.about-image {
  animation: fadeIn 1.2s ease-out forwards;
  opacity: 0;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animación de forma escalonada */

.about-description {
  animation-delay: 0.3s;
}

.about-image {
  animation-delay: 0.9s;
}

/* Contact */

.contact{
    display: flex;
    justify-content: center;   
    align-items: center;          
}


.contact-form{
    background-color: #beaaaa;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 3rem;
    margin-top: 4rem;
    border: 1px solid #F2F0F0;
    width: 100%;
    min-width: 300px;
}

/*antes lo tenia en center, ver que es mejor*/
.grid-container-form{
    display: grid;
    align-items: start;
    justify-content: start;
    text-align: start;
    justify-items: start;
    align-content: start;
    padding: 1.5rem;
}

.form-label{
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: var(--color-tertiary);
}

/*cambiar todo esto
.form-control{
    width: 100%;
    padding: 1rem;
    background: rgba(187, 175, 175, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    color: var(--color-primary);
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    transition: all 0.3s ease;
}

*/

/* Media query menu desplegable*/

@media screen and (max-width: 768px){
    .menu-button{
        display: block;
    }
    .main-menu{
        display: none;
        flex-direction: column;
        gap: 12px;
        background-color: var(--color-secondary);
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        padding: 15px 5%;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
        z-index: 100;
        box-sizing: border-box;
        max-width: 100%;
    }

    .main-menu.dropdown-menu{
        display: flex;
    }

    .main-menu a{
        padding: 10px 12px;
        font-size: var(--text-size-small);
    }

    .header{
        flex-direction: row;
        padding: 1rem 1.5rem;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    } 

    .logo{
        height: 60px;
    }
}

/* Media query seccion Home pantallas grandes */

@media screen and (min-width: 1600px) {
  body {
    font-size: 1.4rem; /
  }

  .hero-title {
    font-size: 6rem;
  }

  .hero-subtitle {
    font-size: 2.5rem;
  }

  .hero-description {
    font-size: 1.3rem;
    max-width: 70%; 
  }

  .hero-buttons{
    padding-top: 3rem;
  }

  .btn {
    font-size: 1.2rem;
    padding: 1rem 2rem;
  }
}

/* Media query menu seccion hero*/

@media screen and (max-width: 768px){
    .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 8rem; 
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .hero-content {
    padding: 1.5rem;
  }

  .hero-greeting{
    justify-content: center;
  }
  .hero-title {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 1.5rem;
  }

  .hero-description {
    font-size: 1rem;
    max-width: 100%;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
  }

  .btn {
    width: 100%;
    max-width: 250px;
    text-align: center;
  }
}


/* Media query cards */

@media screen and (min-width: 1930px) {
  .projects-wrapper {
    width: 90%; 
    max-width: 2200px;
    gap: 5rem;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }

  .card{
    width: 100%;
  }
}

@media screen and (max-width: 770px) {
    .projects-wrapper{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .card > img{
        height: auto;
        max-height: none;
        width: 100%;
        object-fit: cover;
    }

    .description {
    margin: 15px 20px;
    font-family: var(--cards-font);
    text-align: center;
    font-size: 1rem;
    line-height: 1.4;
    }

    .card > h4{
        font-size: 1rem;
    }
}


/* Media query about */

@media screen and (min-width: 1930px) {
    .about-container{
        justify-content: space-around;
    }
}

@media screen and (max-width: 1400px) {
    .about-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem 2rem;
        gap: 3rem;
    }

    .about-description, .about-image{
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
    }

    .about-description{
        font-size: 0.75rem;
        padding: 2rem;
        text-align: center;
    }
}

@media screen and (max-width: 1000px) {
    .about-description{
        font-size: 0.7rem;
        padding: 1.5rem;
    }

    .about-image img{
        width: 100%;
        max-width: 600px;
        height: auto;
    }
}