/* Privacy Policy */

body{
    font-family: "Manrope", sans-serif;
    background-color: rgb(253, 253, 253);
    color: #C5B3B3;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.privacy-content{
    max-width: 70%;
    margin: 4rem auto 4rem;
    padding: 2rem;
    background-color: #F2F0F0;
    border-radius: 12px;
    box-shadow: 0px 6px 23px -15px rgba(0, 0, 0, 0.2);
}

.privacy-content h1 {
  font-size: 2.5rem;
  color: #a58f8f;
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.privacy-content h2 {
  font-size: 1.5rem;
  color: #beaaaa;
  margin-top: 2rem;
}

.privacy-content p {
  font-size: 1rem;
  color: #726565;
  margin-top: 0.5rem;
  text-align: justify;
}

/* Media query */

@media screen and (max-width: 768px) {
  .privacy-content {
    padding: 1.5rem;
    margin: 6rem 2.5rem;
  }

  .privacy-content h1 {
    font-size: 2rem;
  }

  .privacy-content h2 {
    font-size: 1.25rem;
  }

  .privacy-content p {
    font-size: 0.95rem;
  }
}