:root{
    --color-primary:#ffffff;
    --color-secondary:#C5B3B3;
    --color-accent:#FFC14C;
    --color-tertiary:#F2F0F0;
    --text-size-small: 16px;
    --text-size-medium: 32px;
    --text-size-large: 48px;
    --gap: 20px;
}

@font-face{
    font-family: "Roboto";
    src:url(./assets/fonts/static/Roboto-SemiBold.ttf) format("truetype");
    font-weight: 600; /*SemiBold*/
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/static/Roboto-Bold.ttf) format("truetype");
    font-weight: 700; /*Bold*/
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/static/Roboto-ExtraBold.ttf) format("truetype");
    font-weight: 800; /*ExtraBold*/
    font-style: normal;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif; /*se incluye sans-serif por si la fuente principal no carga*/
    font-size: var(--text-size-small);
    color: var(--color-primary);
    /*background-color: var(--color-primary);*/
    background-color: rgb(124, 160, 160); /*es temporal*/
}

.header{
    color: var(--color-secondary);
    background-color: var(--color-secondary);
    padding: 2rem 4rem;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
}

.main-menu{
    display: flex;
    gap: 70px;
    list-style: none;
}

.main-menu li a{
    position: relative;
    display: inline-block;
    font-weight: 600;
    color: var(--color-primary);
    transition: 
        color 0.3s ease,
        transform 0.3s ease; /* para agrandar el texto*/
}

/*para crear una linea debajo del enlace al hacer hover*/
.main-menu li a::after{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px; /*grosor de la linea*/
    background-color: var(--color-accent);
    transition: color 0.3s ease;
}

.main-menu li a:hover{
    color: var(--color-accent);
    transform: scale(1.1);
}
.main-menu li a:hover::after{
    width: 100%;
}

.logo{
    height: 120px;
    width: auto;
}

header ul{
    display: flex;
    gap: var(--gap);
}

header a{
    color:var(--color-primary)
}

.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 8rem 5rem;
    overflow: hidden;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.hero-title{
    font-family: "Roboto";
    font-size: var(--text-size-large);
    color:var(--color-primary);
    margin-bottom: var(--gap);
}

.grid-container{
    display: grid;
}

/*botones provisionales*/

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 0.7rem;
  text-decoration: none;
  font-weight: 700; /*Bold*/
  transition: background-color 0.3s ease;
}

.btn-projects {
  background-color: #FFC14C; /*crear variable*/
}


.btn-contact {
  background-color:none;
  border: 2px solid #ffffff;
}
