@font-face{
    font-family: "Roboto";
    src:url(./assets/fonts/static/Roboto-SemiBold.ttf) format("truetype");
    font-weight: 600; /*SemiBold*/
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/static/Roboto-Bold.ttf) format("truetype");
    font-weight: 700; /*Bold*/
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/static/Roboto-ExtraBold.ttf) format("truetype");
    font-weight: 800; /*ExtraBold*/
    font-style: normal;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}