@font-face{
    font-family: "Roboto";
    src:url(./assets/fonts/static/Roboto-SemiBold.ttf) format("truetype");
    font-weight: 600; /*SemiBold*/
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/static/Roboto-Bold.ttf) format("truetype");
    font-weight: 700; /*Bold*/
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/static/Roboto-ExtraBold.ttf) format("truetype");
    font-weight: 800; /*ExtraBold*/
    font-style: normal;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.grid-container{
    display: grid;
}

/*botones provisionales*/

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 0.7rem;
  text-decoration: none;
  font-weight: 700; /*Bold*/
  transition: background-color 0.3s ease;
}

.btn-projects {
  background-color: #FFC14C; /*crear variable*/
}


.btn-contact {
  background-color:none;
  border: 2px solid #ffffff;
}
